@font-face {
    font-family: naikaifont;
    src: url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular.woff) format("woff");
}

* {
    font-family: '', sans-serif;
}

html {
    /* 1rem=10px */
    font-size: 62.5% !important;
}

::selection {
    background-color: #87d9ff;
    color: #000;
}

::-moz-selection {
    background-color: #87d9ff;
    color: #000;
}


/* 底線動畫 */

.un {
    display: inline-block;
    padding-bottom: 4px;
    background-image: linear-gradient(rgb(255, 190, 40), rgb(255, 190, 40));
    background-position: 50% 100%;
    background-size: 0% 3.5px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
}

.un:hover {
    background-position: 50% 100%;
    background-size: 100% 3.5px;
}

.un-red {
    display: inline-block;
    padding-bottom: 3px;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 0, 0));
    background-position: 50% 100%;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
}

.un-red:hover {
    background-position: 50% 100%;
    background-size: 100% 3px;
}

.un-green {
    display: inline-block;
    padding-bottom: 3px;
    background-image: linear-gradient(rgb(30, 255, 0), rgb(30, 255, 0));
    background-position: 50% 100%;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
}

.un-green:hover {
    background-position: 50% 100%;
    background-size: 100% 3px;
}

.hr {
    border: none;
    border-top: 3px solid rgba(50, 50, 50);
    border-radius: 30px;
    overflow: visible;
    text-align: center;
    width: 100%;
}


/* 底線動畫-左右伸縮 */

.move-to-right {
    width: 100%;
    border: none;
    display: inline-block;
    padding-bottom: 0.3rem;
    background-image: linear-gradient(rgba(30, 30, 30), rgba(30, 30, 30));
    background-position: 100% 100%;
    background-size: 0% 3.5px;
    background-repeat: no-repeat;
    transition: background-size 0.5s, background-position 0s 0.5s;
    animation: to-right 2.5s ease-out forwards;
    animation-delay: 1s;
}

@keyframes to-right {
    100% {
        background-position: 100% 100%;
        background-size: 100% 3.5px;
    }
}

.move-to-left {
    width: 100%;
    border: none;
    display: inline-block;
    padding-top: 0.3rem;
    background-image: linear-gradient(rgba(30, 30, 30), rgba(30, 30, 30));
    background-position: 0% 100%;
    background-size: 0% 3.5px;
    background-repeat: no-repeat;
    transition: background-size 0.5s, background-position 0s 0.5s;
    animation: to-left 2.5s ease-out forwards;
    animation-delay: 1s;
}

@keyframes to-left {
    100% {
        background-position: 0% 100%;
        background-size: 100% 3.5px;
    }
}


/* 開場動畫 */

#Reading-Animation {
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

#Sub-Reading {
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
}

#Control {
    perspective: 25000px;
    perspective-origin: 300% -300%;
    /*animation-play-state: paused;*/
    animation-name: my-A;
    transform-style: preserve-3d;
    animation: my-A 3s infinite cubic-bezier(.5, -0.2, .25, .9);
    animation-direction: alternate;
}


/*
#Control:hover {
animation-play-state: running;
}
*/

@keyframes my-A {
    0% {
        transform: scale3d(0, 0, 0);
    }
    15% {
        transform: scale3d(0, 0, 0);
    }
    30% {
        transform: scale3d(3, 3, 3);
    }
    50% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    70% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    100% {
        transform: rotate3d(0, 1, 1, 360deg);
    }
}

#Space {
    position: relative;
    width: 100px;
    height: 100px;
    perspective: 15000px;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: inherit;
    font-size: 18px;
    color: #fff;
    border: 5px solid #73e1fc;
    box-shadow: 0px 0px 30px 10px #0097dd;
}

#front {
    background-color: #50c5fc;
    transform: translateZ(50px);
}

#back {
    background-color: #8efaa9;
    transform: rotateY(180deg) translateZ(50px);
}

#left {
    background-color: #daeb7a;
    transform: rotateY(-90deg) translateZ(50px);
}

#right {
    background-color: #49f0d4;
    transform: rotateY(90deg) translateZ(50px);
}

#top {
    background-color: #f3cc62;
    transform: rotateX(90deg) translateZ(50px);
}

#bottom {
    background-color: #fa8c7e;
    transform: rotateX(-90deg) translateZ(50px);
}

#Leave {
    align-items: center;
    width: 15rem;
    margin: 10rem 0 0 -3rem;
    padding: 5px;
}

#Exit {
    align-items: center;
    width: 15rem;
    margin: 5rem 0 0 -3rem;
    padding: 5px;
}


/* -END- 開場動畫 -END- */


/* body */

body {
    height: 100%;
    font-size: 1.8vmin !important;
}


/* 背景動畫 */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #a0a0a0;
    z-index: 0;
}


/* 網頁RWD容器 */

.container {
    max-width: 90%;
}


/* 跑馬燈 */

.ticker-container {
    position: relative;
    top: 10px;
    left: auto;
    right: auto;
    bottom: 0;
    height: auto;
    padding: 5px;
    background-color: rgb(70, 70, 70);
    box-shadow: 0px 0px 10px 1.5px rgb(210, 120, 194);
    border-radius: 10px;
    overflow: hidden;
}

#ticker {
    display: inline-block;
    color: rgb(205, 205, 205);
    min-width: 100%;
    padding: 0px;
    font-size: 3rem;
    white-space: nowrap;
    /*perspective: 25000px;
perspective-origin: 300% -300%;*/
    /*animation-play-state: paused;*/
    animation: my-ticker 25s infinite cubic-bezier(0, 0, 1, 1);
}

#ticker p {
    margin-bottom: 0;
}

#ticker:hover {
    animation-play-state: paused;
}

@keyframes my-ticker {
    from {
        transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
}


/* 上方導覽列 */

#Header {
    backdrop-filter: blur(18px);
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 15px 1px rgb(226, 165, 85);
    border-radius: 10px;
    z-index: 999;
}


/* 主要文章區塊 */

#Main {
    position: relative;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 10px 0px rgb(100, 200, 200);
    top: 20px;
    padding-top: 2rem;
    padding-bottom: 5rem;
    border-radius: 10px;
}

#hide {
    margin: 4rem 0 0 0 !important;
}

.name {
    width: 100%;
    height: 8%;
}

.my-color-1 {
    border: 2.5px #00aeff solid;
}

.my-color-2 {
    border: 2.5px #006eff solid;
}

.mytoast-1 {
    position: absolute;
    left: auto;
    top: 2%;
    width: auto;
    z-index: 150;
}

.mytoast-2 {
    position: absolute;
    top: 3%;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    width: 38rem;
    text-align: center;
    z-index: 150;
}

.mytoast-3 {
    position: absolute;
    display: flex;
    top: 0%;
    height: 55%;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 150;
    opacity: 1;
    /* 讓後面元件可以被點擊 */
    pointer-events: none;
}

#liveToast {
    border-radius: 8px;
    border: solid 2px #89f7c3;
    box-shadow: 0px 3px 15px 5px rgb(80, 80, 80);
}

#liveToast_Waring {
    border-radius: 8px;
    border: solid 2px #3bc2f7;
    box-shadow: 0px 3px 17px 7px rgb(80, 80, 80);
}

#host_name {
    color: #ff6a06;
}

#host_name_B {
    color: #ff4006;
}

#host_name_Waring {
    color: #ff0000;
}

.toast-body-style-1 {
    border-top: 2px solid #fd8f45;
    padding: 8px 0 4px 0 !important;
}

.card {
    border-radius: 15px !important;
    box-shadow: 0px 0px 15px 3px rgb(83, 83, 83);
}

.card-img-top {
    height: 250px;
    border-radius: 0 0 20px 20px !important;
    border: solid 3px #89f7c3;
    box-shadow: 0px 3px 15px 5px rgb(100, 200, 200);
}


/* 主要文章區塊--Work.html */

.My-animation-A {
    width: 44rem;
}

.My-animation-A:hover {
    transform: scale(1.05, 1.05);
    transition: transform 1s;
    box-shadow: 0px 0px 1px 1px rgb(100, 200, 200);
    border: 0px #00aeff solid;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.images {
    position: relative;
    width: 100%;
    height: 100%;
}

#animal-img img {
    object-fit: cover;
    max-width: 100%;
    max-height: 50rem !important;
    border-radius: 15px;
    margin-bottom: 20px;
}

.btn-animal-style {
    position: sticky;
    top: 60rem;
    left: auto;
    width: auto;
}

.btn-color {
    background-color: #83ecd6;
    color: #3b3b3b;
    font-size: 15px;
    box-shadow: 0px 0px 10px 2px rgb(253, 148, 50);
    padding-left: 10px;
}


/*article*/

#Animals_Choice {
    cursor: pointer;
}


/* aside */


/*--- Random_number.html ---*/

.random {
    position: relative;
    width: auto;
    height: 100%;
    border: solid 3px #ffc46b;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px rgb(83, 83, 83);
    text-align: center;
    padding: 3rem;
    margin: 2rem;
}

#Min,
#Max,
#Num,
#Count,
#Speed {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.8rem !important;
    text-align: center;
}

#Sum_Counts {
    color: #02ceac;
}

.alert {
    min-height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(71, 71, 71);
    border: solid 2px #7aebfa;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px rgb(83, 83, 83);
    color: #fff;
    margin: 0 2.5rem;
}

#btn-stop {
    background-color: #ff6a06;
    border-radius: 5px;
    padding: 0 2rem;
}

#btn-stop:hover {
    border: solid 2px #ffc46b;
    box-shadow: 0px 0px 15px 3px rgb(255, 0, 0);
}

#btn-stop:focus {
    border: solid 2px #ffc46b !important;
    box-shadow: 0px 0px 15px 3px rgb(255, 0, 0);
}


/*footer*/

#Footer {
    position: relative;
    background-color: rgb(233, 233, 233);
    padding: 15px;
    top: 35px;
    box-shadow: 0px 0px 10px 1px rgb(228, 168, 100);
}


/* sign up */

*,
body:has(.sign_up, .login) {
    font-family: '', sans-serif;
}

body:has(.sign_up, .login),
main:has(.sign_up, .login)::before {
    background: url(https://images.pexels.com/photos/2099266/pexels-photo-2099266.jpeg) 0 / cover fixed;
}

.sign_up {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /*max-width: 100%;*/
    /*height: auto !important;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    color: rgb(50, 56, 64);
    z-index: 100;
    /* 毛玻璃效果*/
    backdrop-filter: blur(18px);
    filter: drop-shadow(8px 8px 10px rgba(251, 159, 31, 0.8));
    border: none;
    border-radius: 30px;
    box-shadow: 9px 9px 10px 3px rgba(60, 255, 240, 0.2);
    border: 10px solid transparent;
    animation: rotate_2 5s infinite linear;
}

.login {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /*max-width: 100%;*/
    /*height: auto !important;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    color: rgb(50, 56, 64);
    z-index: 100;
    /* 毛玻璃效果*/
    backdrop-filter: blur(18px);
    filter: drop-shadow(8px -8px 10px rgba(251, 159, 31, 0.8));
    border: none;
    border-radius: 30px;
    box-shadow: 9px 9px 10px 3px rgba(60, 255, 240, 0.2);
    border: 10px solid transparent;
    animation: rotate_2 5s infinite linear;
}


/*
.sign_up::after {
content: '';
position: absolute;
box-sizing: border-box;
z-index: -2;
width: calc(100% - 24px);
height: calc(100% - 24px);
border: none;
border-radius: 30px !important;
-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
-webkit-mask-composite: xor;
}

.sign_up::before {
content: "";
box-sizing: border-box;
position: absolute;
z-index: -2;
inset: 0;
border-radius: 30px;
border: 10px solid transparent;
animation: rotate_2 5s infinite linear;
-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
-webkit-mask-composite: xor;
mask-composite: exclude;
clip-path: circle(60% 50% at 50% 50%);
}
*/

@keyframes rotate_2 {
    0%,
    16.67% {
        border-image: linear-gradient(0deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
    }
    33.33%,
    50% {
        border-image: linear-gradient(60deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
    }
    50%,
    66.67% {
        border-image: linear-gradient(120deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
    }
    66.67%,
    83.33% {
        border-image: linear-gradient(180deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
    }
    83.33%,
    100% {
        border-image: linear-gradient(240deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
    }
    100%,
    0% {
        border-image: linear-gradient(300deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
    }
}


/*
@keyframes rotate {
0%,
16.67% {
    border-image: linear-gradient(0deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
}
33.33%,
50% {
    border-image: linear-gradient(60deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
}
50%,
66.67% {
    box-shadow: 9px 9px 10px 3px rgba(60, 255, 240, 0.9);
    border-image: linear-gradient(120deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
}
66.67%,
83.33% {
    border-image: linear-gradient(180deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
}
83.33%,
100% {
    border-image: linear-gradient(240deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
}
100%,
0% {
    border-image: linear-gradient(300deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) 30;
}
}
*/


/*
.sign_up>tr {
display: table-row !important;
}

.sign_up>thead {
display: table-header-group !important;
}

.sign_up>tbody {
display: table-row-group !important;
}

.sign_up>th,
.sign_up>td {
display: table-cell !important;
}
*/


/* float input 浮動輸入標籤 */

.floating-content {
    position: relative;
    transition: all 0.2s ease-out;
}

.floating-input {
    display: block;
    font-weight: bold;
    font-size: 2vh;
    max-width: 100%;
    height: auto;
    padding: 5px 15px 5px 15px;
    background-color: rgb(235, 235, 235);
    color: #000000;
    border: 3.5px solid #3d85d8;
    border-radius: 7px;
    box-sizing: border-box;
}

.floating-input:focus {
    outline: none;
    /*height: 45px !important;*/
    animation: float 0.25s ease-out forwards;
    /* 
infinite: 不斷循環
forwards: 停留在結束狀態
*/
}

@keyframes float {
    100% {
        padding: 8.5px 15px 8.5px 25px;
    }
}

.floating-label {
    position: absolute;
    color: rgb(50, 50, 50);
    font-weight: bold;
    font-size: calc(1.5vh + 0.5rem);
    left: 25px;
    top: 8px;
    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    pointer-events: none;
}

.floating-label>.warning {
    position: relative;
    color: rgb(255, 50, 50);
    font-size: 1.4vh;
    top: -1px;
    left: -4px;
}

.floating-input:focus~.floating-label {
    left: 14px;
    top: -10px;
    padding: 0 3px;
    font-weight: bold;
    font-size: 2vh;
    color: rgb(16, 24, 32);
    background-color: rgba(255, 230, 20);
    border-radius: 6px;
    pointer-events: auto;
    cursor: pointer;
}


/* 一旦有輸入時，則執行 */

.floating-input:not(:placeholder-shown)~.floating-label {
    left: 14px;
    top: -10px;
    padding: 0 3px;
    font-weight: bold;
    font-size: 1.7vh;
    color: rgb(16, 24, 32);
    background-color: rgba(255, 230, 20);
    border-radius: 6px;
    pointer-events: auto;
    cursor: pointer;
}

.floating-input:not(:placeholder-shown) {
    padding: 7px 15px 5px 15px;
    border: 3.5px solid rgba(31, 205, 123, 0.9);
}


/* 擬物化設計風格Neumorphism(Soft UI) - Button */

.soft_btn_green {
    --color: #22a769;
    --color-deep: #146941;
    --color-border: #187f4f;
    padding: 0.6rem 1.2rem;
    border-radius: 15px !important;
    border: 3px solid var(--color-border) !important;
    box-shadow: 6px 6px 12px var(--color-deep), -6px -6px 12px var(--color) !important;
    font-size: calc(1vh + 0.5rem) !important;
    opacity: 0.9;
}

.soft_btn_blue {
    --color: #4e95ff;
    --color-deep: #094fb9;
    --color-border: #1665dc;
    padding: 0.6rem 1.2rem;
    border-radius: 15px !important;
    border: 3px solid var(--color-border) !important;
    box-shadow: 6px 6px 12px var(--color-deep), -6px -6px 12px var(--color) !important;
    font-size: calc(1vh + 0.5rem) !important;
    opacity: 0.9;
}

.soft_btn_blue:hover,
.soft_btn_green:hover {
    box-shadow: 1px 1px 12px var(--color-deep), -1px -1px 12px var(--color) !important;
    transition: 0.5s !important;
}

.soft_btn_blue:active,
.soft_btn_green:active {
    box-shadow: inset 4px 4px 12px var(--color-deep), inset -4px -4px 12px var(--color) !important;
    transition: 0.5s !important;
}


/* 擬物化設計風格Neumorphism(Soft UI) - 外框 */

.soft_title_white {
    border-radius: 50px !important;
    background: #e6e7ee !important;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
    border: 1px solid #d1d9e6;
}

.soft_text_white {
    border-radius: 10px !important;
    background: #e6e7ee !important;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff!important;
    border: 1px solid #d1d9e6;
}


/* dropdown 下拉選單圖標 */

[aria-expanded="false"] .fa-caret-down {
    display: inline;
}

[aria-expanded="false"] .fa-caret-up {
    display: none;
}

[aria-expanded="true"] .fa-caret-down {
    display: none;
}

[aria-expanded="true"] .fa-caret-up {
    position: relative;
    top: 2px;
    display: inline;
}

#particles-js {
    position: fixed;
    background: url(https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress) 100% 100% / cover;
}

#particles-js:has(~.filter) {
    background: url(https://images.pexels.com/photos/1025469/pexels-photo-1025469.jpeg?auto=compress) 100% 100% / cover;
}

.filter>header,
.filter>main,
.filter>footer {
    background: transparent !important;
    backdrop-filter: blur(18px) !important;
    filter: drop-shadow(6px -6px 12px rgba(255, 255, 255, 0.8));
}

.filter>header>Nav>div>ul>li>* {
    color: #0097dd !important;
}


/* 暗黑模式 */

#dark_mode {
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 100%;
    width: 4.5rem !important;
    height: 4.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}