@media screen and (min-width: 80.0625em) {
    #Main {
        height: 100%;
    }
    #Auto_write {
        height: 50rem;
    }
    .embed-container {
        height: 70rem;
    }
    .particles-js-canvas-el {
        height: 100rem !important;
    }
    .login,
    .sign_up {
        width: 40%;
        height: 70%;
    }
}

@media screen and (min-width:64.0625em) and (max-width:82.0625em) {
    #Main {
        height: 100%;
    }
    #Auto_write {
        height: 45rem;
    }
    .embed-container {
        height: 60rem;
    }
    .particles-js-canvas-el {
        height: 140rem !important;
    }
    .login,
    .sign_up {
        width: 60%;
        height: 75%;
    }
}

@media screen and (min-width: 48em) and (max-width:64.0625em) {
    #Main {
        height: 100%;
    }
    #btn-dog {
        width: 30%;
    }
    .embed-container {
        height: 55rem;
    }
    body {
        font-size: 2min !important;
    }
    .particles-js-canvas-el {
        height: 125rem !important;
    }
    .login,
    .sign_up {
        width: 70%;
        height: 80%;
    }
}

@media screen and (min-width: 48em) and (max-width:64.0625em) and (orientation: landscape) {
    #Main {
        height: 100%;
    }
    #btn-dog {
        width: 30%;
    }
    .embed-container {
        height: 55rem;
    }
    body {
        font-size: 2vmin !important;
    }
    .particles-js-canvas-el {
        height: 130rem !important;
    }
    .login,
    .sign_up {
        width: 75%;
        height: 85%;
    }
}

@media screen and (min-width: 30.0625em) and (max-width: 47.9375em) {
    #Main {
        height: 100%;
    }
    #btn-dog {
        width: 50%;
    }
    .myWidth {
        width: 90%;
    }
    .embed-container {
        height: 45rem;
    }
    body {
        font-size: 2.8vmin !important;
    }
    .particles-js-canvas-el {
        height: 120rem !important;
    }
    .alert {
        margin: 0;
    }
    .login,
    .sign_up {
        width: 90%;
        height: 95%;
    }
}

@media screen and (max-width: 30em) {
    Main {
        height: 100% !important;
        width: 100% !important;
        padding: 0 !important;
    }
    #btn-dog {
        width: 100%;
    }
    .myWidth {
        width: 95%;
    }
    #Auto_write {
        padding: 1.5rem !important;
    }
    .embed-container {
        height: 40rem;
    }
    body {
        font-size: 4vmin !important;
        height: 100% !important;
        width: 100% !important;
    }
    .particles-js-canvas-el {
        height: 120rem !important;
    }
    .card-img-top {
        height: 150px;
    }
    .alert {
        margin: 0;
    }
    .container-fluid {
        height: 100% !important;
        width: 100% !important;
    }
    .login,
    .sign_up {
        width: 100% !important;
        height: 100% !important;
    }
    .floating-content {
        max-width: 80% !important;
    }
    .g-5,
    .gx-5 {
        --bs-gutter-x: 0rem !important;
    }
    .g-3,
    .gy-3 {
        --bs-gutter-y: 2vh !important;
    }
}